
node_modules
.env
.DS_Store
dist
coverage
.vscode
.idea
*.json
!package.json
!package-lock.json
!vercel.json
!optimization_BTCUSDT.json

*.log
*.txt
optimize_*.js
test_*.js
manifest_result.json
create_test_data.js
verify_signal.js
